  <div ng-controller="applicaitonController as appCtrl" ng-cloak >
    

      <div class="demo-layout-transparent" layout="column" flex="100">
             <md-sidenav
        class="md-sidenav-left"
        md-component-id="kit-left-sidenav"
        md-whiteframe="4">

      <md-toolbar>
        <h1 class="md-toolbar-tools" style="background-color: #5b041c;">Menu</h1>
      </md-toolbar>
      <md-content layout-padding class="no-overflow" layout-fill>
        <md-list layout-fill>
          <md-list-item>
        <md-button layout-fill class="sidenav-button" ui-sref="app.movies" ng-click="appCtrl.toggleSidenav()">
          movies
        </md-button>
        </md-list-item>
        <md-list-item>
        <md-button layout-fill class="sidenav-button" ui-sref="app.shows" ng-click="appCtrl.toggleSidenav()">
          shows
        </md-button>
        </md-list-item>
        <md-list-item>
        <md-button layout-fill class="sidenav-button" ui-sref="app.people" ng-click="appCtrl.toggleSidenav()">
          People
        </md-button>
        </md-list-item>
        </md-list>
      </md-content>

    </md-sidenav>
      <div layout="column">
        <div layout="row">
         <md-button class="md-icon-button md-accent" style="color:white" ng-click="appCtrl.toggleSidenav()"><md-icon>menu</md-icon></md-button>
         <p style="margin-top:9px;"><b>Menu</b><p>
         </div>
        <div layout="row" layout-fill>
         
        <carousel3d ng-model = "appCtrl.slides" options="appCtrl.options"
            on-selected-click="appCtrl.selectedClick(index)"
            on-slide-change="appCtrl.slideChanged(index)"
            on-last-slide="appCtrl.lastSlide(index)"
            on-before-change="appCtrl.beforeChange(index)">
        <carousel3d-slide ng-if = "slide" ng-repeat="slide in appCtrl.slides track by slide.id" ng-if = "$index > 0"
            >
            <img id="slide" ng-src="http://image.tmdb.org/t/p/w300{{slide.poster_path}}" layout-fill/>
        </carousel3d-slide>
        </carousel3d>

            <div class="mdl-card__menu">
             <md-button ng-click="appCtrl.signOut()" class="md-icon-button md-accent">
                <md-icon>lock</md-icon>
                <md-tooltip>Signout</md-tooltip>
              </md-button>
            </div>
            </div>
        </div>
        </div>

  </div>
         <div flex="100" ui-view></div>