<!--<div ng-show="!movies.formBusy" class="row">

  <div class="col s6 m4 l3" ng-repeat = " movie in movies.popularMovies">

           <img ng-click="movies.loadMovieView(movie.id)" ng-src="http://image.tmdb.org/t/p/w1920{{movie.poster_path}}"
                alt="movie poster image" class="responsive-img hoverable z-depth-4">
                <span>&nbsp;</span>


  </div>
</div>-->
<div ng-cloak>
  <md-content layout-padding>
    <md-input-container layout-fill>
      <label>Search Movies</label>
      <md-icon>search</md-icon>
      <input ng-model="movies.searchText" aria-label="search field" />
    </md-input-container>
    <md-grid-list
        md-cols-gt-md="12" md-cols="3" md-cols-md="8"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
      <md-grid-tile
          ng-repeat = " movie in movies.popularMovies | filter : movies.searchText"
          md-colspan-xl="3"
          md-rowspan-xl="4"
          md-colspan-lg="3"
          md-rowspan-lg="4"
          md-colspan-md="2"
          md-rowspan-md="3"
          md-colspan-sm="1"
          md-rowspan-sm="2"
          md-colspan-xs="1"
          md-rowspan-xs="2">
          <img ng-click="movies.loadMovieView(movie.id)" ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}"
               alt="movie poster image" layout-fill>
               <span>&nbsp;</span>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
<div ng-show ="movies.formBusy" class="mdl-spinner mdl-js-spinner is-active"></div>
<!--  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      ng-show="appCtrl.showSideNav()"
      md-disable-backdrop>

      <span class="md-tabs md-tab md-tab-label md-stretch-tabs">Categories</span>
  </md-sidenav>-->
