<!--<div ng-show="!movies.formBusy" class="row">

  <div class="col s6 m4 l3" ng-repeat = " movie in movies.popularMovies">

           <img ng-click="movies.loadMovieView(movie.id)" ng-src="http://image.tmdb.org/t/p/w1920{{movie.poster_path}}"
                alt="movie poster image" class="responsive-img hoverable z-depth-4">
                <span>&nbsp;</span>


  </div>
</div>-->
<div ng-cloak>
        <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools" style="background-color: #5b041c;">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>local_movies</md-icon>
        </md-button>
        <h2>
          <span>Movies</span>
        </h2>
        <span flex></span>
        <div layout="column" flex="55">
            <span>&nbsp;</span>
        <md-input-container class="md-accent no-margin" flex="100">
   <md-icon class="material-icons">&#xE8B6;</md-icon>
   <label style="color:white">Search Movies</label>
   <input style="color:white" ng-model="movies.searchInput">
</md-input-container>
</div>
<span flex="20">&nbsp;</span>
 <div layout="column">
      <span>&nbsp;</span>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon>menu</md-icon>
        </md-button>
        </div>
      </div>
    </md-toolbar>
  <md-content layout-padding class="kit-list-content">
    <md-grid-list
        md-cols-gt-md="12" md-cols="3" md-cols-md="8"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
      <md-grid-tile
          ng-repeat = " movie in movies.popularMovies | limitTo: movies.calculateLimit() | filter: movies.searchInput"
          md-colspan-xl="3"
          md-rowspan-xl="4"
          md-colspan-lg="3"
          md-rowspan-lg="4"
          md-colspan-md="2"
          md-rowspan-md="3"
          md-colspan-sm="1"
          md-rowspan-sm="2"
          md-colspan-xs="1"
          md-rowspan-xs="2">
          <img ng-click="movies.loadMovieView(movie.id)" ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}"
               alt="movie poster image" layout-fill>
               <span>&nbsp;</span>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
<div ng-show ="movies.formBusy" class="mdl-spinner mdl-js-spinner is-active"></div>
<!--  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      ng-show="appCtrl.showSideNav()"
      md-disable-backdrop>

      <span class="md-tabs md-tab md-tab-label md-stretch-tabs">Categories</span>
  </md-sidenav>-->
