<!--<div ng-show="!movies.formBusy" class="row">

  <div class="col s6 m4 l3" ng-repeat = " movie in movies.popularMovies">

           <img ng-click="movies.loadMovieView(movie.id)" ng-src="http://image.tmdb.org/t/p/w1920{{movie.poster_path}}"
                alt="movie poster image" class="responsive-img hoverable z-depth-4">
                <span>&nbsp;</span>


  </div>
</div>-->
<div ng-cloak>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" style="background-color: #5b041c;">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon>local_movies</md-icon>
            </md-button>
            <h2>
                <span>Movies</span>
            </h2>
            <span flex></span>
            <div layout="column" flex="45">
                <span>&nbsp;</span>
                <md-input-container class="md-accent no-margin" flex="100">
                    <md-icon class="material-icons">&#xE8B6;</md-icon>
                    <label style="color:white">Search Movies</label>
                    <input style="color:white" ng-model="movies.searchInput" ng-change="movies.search(movies.searchInput)">
                </md-input-container>
            </div>
            <span flex="5">&nbsp;</span>
            <div layout="row" flex="15">
                <div layout="column" layout-fill>
                <md-input-container class="md-block genre-select" layout-fill>
                    <label style="color:white">Genre</label>
                    <md-select ng-model="movies.selectedGenres" ng-change="movies.getMoviesByGenre()" multiple  style="color:white">
                        <md-option ng-value="genre.id" ng-repeat="genre in movies.genres">{{genre.name}}</md-option>
                    </md-select>
                </md-input-container>
                </div>
            </div>
            
            <div layout="row" flex="5">
                <div layout="column" layout-fill>
                <md-input-container class="md-block genre-select" layout-fill>
                    <label style="color:white">Year</label>
                    <md-select ng-model="movies.selectedYear" ng-change="movies.getMoviesByGenre()" style="color:white">
                        <md-option ng-value="year" ng-repeat="year in movies.years">{{year}}</md-option>
                    </md-select>
                </md-input-container>
                </div>
            </div>

            </div>
        </div>
    </md-toolbar>
    <md-content layout-padding class="kit-list-content">
        <md-grid-list md-cols-gt-md="12" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <md-grid-tile dir-paginate="movie in movies.moviesToShow.results | itemsPerPage: 20" current-page="movies.moviesToShow.page" total-items="movies.moviesToShow.total_results" md-colspan-xl="3" md-rowspan-xl="4" md-colspan-lg="3" md-rowspan-lg="4" md-colspan-md="2" md-rowspan-md="3" md-colspan-sm="1" md-rowspan-sm="2" md-colspan-xs="1"
                md-rowspan-xs="2">
                <img ng-click="movies.loadMovieView(movie.id)" ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="{{movie.title}}" layout-fill>
                <span>&nbsp;</span>
            </md-grid-tile>
        </md-grid-list>
        <div layout="row" layout-align="center center">
            <span flex="65">&nbsp;</span>
            <dir-pagination-controls auto-hide="false" layout-fill boundary-links="true" on-page-change="movies.loadPage(newPageNumber, oldPageNumber)" template-url="../bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </md-content>
</div>
<div ng-show="movies.formBusy" class="mdl-spinner mdl-js-spinner is-active"></div>
<!--  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      ng-show="appCtrl.showSideNav()"
      md-disable-backdrop>

      <span class="md-tabs md-tab md-tab-label md-stretch-tabs">Categories</span>
  </md-sidenav>-->
