
<div id="black-background" flex="100">


<div class="row no-margin" layout="column" flex flex-xs="100" layout-align="none center" layout-fill layout-padding>
<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <div flex class="row">
      <h1 class="page-header">{{personView.person.name}}
        <em class="small" ng-show="personView.person.release_date">({{personView.person.release_date | date:'yyyy'}})</em>
        <em class="small" ng-show="!personView.person.release_date && personView.person.status">({{personView.person.status}})</em>
        <span ng-show="personView.person.popularity > 40" class="glyphicon glyphicon-fire popularity-icon pull-right" style="color:orange"></span>
      </h1>
    </div>


<!--   <div class="row">
    <div class="col-sm-12">
      <span class="visible-xxs-block">✔ Visible on DOUBLE EXTRA!! small</span>
      <span class="visible-xs-block">✔ Visible on xtra small</span>
      <span class="visible-sm-block">✔ Visible on small</span>
      <span class="visible-md-block">✔ Visible on medium</span>
      <span class="visible-lg-block">✔ Visible on large</span>
    </div>
  </div> -->

  <div layout="row">
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <div class="movie-poster">
        <img ng-if="personView.person.profile_path" class="media-object" width="300" lazy-img="https://image.tmdb.org/t/p/w300/{{personView.person.profile_path}}" alt="{{personView.person.title}}">

        <img mdb-image-holder="holder.js/300x450?auto=yes&theme=sky&text={{personView.person.title}}" alt="{{personView.person.title}}" ng-if="!personView.person.poster_path && personView.person.title">
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="row">
        <div class="col-sm-12">
          <a ng-href="movies/genre/{{genre.id}}" ng-repeat="genre in personView.person.genres" style="display:inline-block; margin:0 5px 10px 0;">
            <h4 class="label label-primary" style="font-size: 100%;">{{genre.name}}</h4>
          </a>
          <hr style="margin: 10px 0;">
        </div>
      </div>

      <!-- torrents -->
      <div style="bottom-margin:100px" class="md-button">
        <jk-rating-stars max-rating="10" rating="personView.person.popularity-20" read-only="true">

          </jk-rating-stars>
          <md-tooltip>{{personView.person.popularity}}/30 popularity</md-tooltip>
      </div>
      <!-- end -->



<!--       <div class="row">
        <div class="col-sm-12">
          <mdb-torrent-video source="'play-test/file.mp4'" type="video/mp4" poster="personView.person.backdrop_path"></mdb-torrent-video>
        </div>
      </div> -->

      <div layout="row">
        <div class="col-md-8 col-xs-6 col-sm-7 col-xxs-12 col-lg-10">
          <p ng-show="personView.person.tagline" class="text-upper text-bold text-xl">{{personView.person.tagline}}</p>
          <p ng-show="personView.person.biography" style="font-size: 1.1em;">{{personView.person.biography}}</p>

        </div>

      </div>
      <div layout="row">
        <div class="col-sm-12">
          <hr>
          <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-4">
              <p class="text-upper">Directed by</p>
              <p ng-repeat="director in personView.person.directors">
                <a ng-href="person/{{director.id}}">{{director.name}}</a>
              </p>
              <p ng-hide="personView.person.directors.length" class="text-muted">Not available</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p class="text-upper">Written by</p>
              <p ng-repeat="writer in personView.person.writers">
                <a ng-href="person/{{writer.id}}">{{writer.name}} <em>({{writer.job}})</em></a>
              </p>
              <p ng-hide="personView.person.writers.length" class="text-muted">Not available</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" layout-fill>
    <div ng-if="personView.person.movie_credits.cast.length" layout-fill >
      <div class="col-lg-12">
        <h3 class="page-header">Movie Credits</h3>
      </div>
    <div flex-offset="5" class="col-sm-3 col-xs-6 col-md-2 col-lg-2" style="margin-bottom:30px;" ng-repeat="actor in personView.person.movie_credits.cast | limitTo : 8" >
      <div class="media">
        <div class="pull-left">

            <!-- use `ng-if` here instead of `ng-show` to prevent a 404 where there is no profile_path - i.e. the src will be requested regardless of whether the img tag is hidden or not -->
            <img src="../assets/GIFS/kit-loading.gif" ng-click="personView.loadMovieView(actor.id)" ng-if="actor.poster_path" class="media-object" width="92" height="138" lazy-img="https://image.tmdb.org/t/p/w300{{actor.poster_path}}" alt="{{actor.name}}">
            <img ng-click="personView.loadMovieView(actor.id)" ng-hide="actor.poster_path" width="92" height="138" src="../assets/GIFS/kit-loading.gif" ng-src="../assets/PNG/kit-no-img.png">

        </div>
      </div>
    </div>
  </div>
  <div ng-if="personView.person.tv_credits.cast.length" >
    <div class="col-sm-12">
      <h3 class="page-header">Show Credits</h3>
    </div>
  <div flex-offset="5" class="col-sm-3 col-xs-6 col-md-2 col-lg-2" style="margin-bottom:30px;" ng-repeat="actor in personView.person.tv_credits.cast | limitTo : 8" >
    <div class="media">
      <div class="pull-left">

          <!-- use `ng-if` here instead of `ng-show` to prevent a 404 where there is no profile_path - i.e. the src will be requested regardless of whether the img tag is hidden or not -->
          <img src="../assets/GIFS/kit-loading.gif" ng-click="personView.loadShowView(actor.id)" ng-if="actor.poster_path" class="media-object" width="92" height="138" lazy-img="https://image.tmdb.org/t/p/w300{{actor.poster_path}}" alt="{{actor.name}}">
          <img ng-click="personView.loadShowView(actor.id)" ng-hide="actor.poster_path" width="92" height="138" src="../assets/GIFS/kit-loading.gif" ng-src="../assets/PNG/kit-no-img.png">

      </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>
</div>
