<md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" style="background-color: #5b041c;">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="showView.back()">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <span>back</span>
            <span flex></span>
            <span flex="20">&nbsp;</span>
            <div layout="column">
                <span>&nbsp;</span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon>menu</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>

<div id="black-background" layout="column" flex="100">
<mdb-backdrop layout-fill path="showView.show.backdrop_path" ng-if="showView.show.backdrop_path"></mdb-backdrop>
<div>
<div class="row no-margin" layout="column" flex flex-xs="100" layout-align="none center" layout-fill layout-padding>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" >
    <div flex class="row">
      <h1 class="page-header">{{showView.show.name}}
        <em class="small" ng-show="showView.show.release_date">({{showView.show.release_date | date:'yyyy'}})</em>
        <em class="small" ng-show="!showView.show.release_date && showView.show.status">({{showView.show.status}})</em>
        <span ng-show="showView.show.popularity > 40" class="glyphicon glyphicon-fire popularity-icon pull-right" style="color:red"></span>
      </h1>
    </div>


<!--   <div class="row">
    <div class="col-sm-12">
      <span class="visible-xxs-block">✔ Visible on DOUBLE EXTRA!! small</span>
      <span class="visible-xs-block">✔ Visible on xtra small</span>
      <span class="visible-sm-block">✔ Visible on small</span>
      <span class="visible-md-block">✔ Visible on medium</span>
      <span class="visible-lg-block">✔ Visible on large</span>
    </div>
  </div> -->

  <div class="row">
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <div class="movie-poster">
        <img ng-if="showView.show.poster_path" class="media-object" width="400" lazy-img="http://image.tmdb.org/t/p/w300{{showView.show.poster_path}}" alt="{{showView.show.title}}">

        <img mdb-image-holder="holder.js/300x450?auto=yes&theme=sky&text={{showView.show.title}}" alt="{{showView.show.title}}" ng-if="!showView.show.poster_path && showView.show.title">
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="row">
        <div class="col-sm-12">
          <a ng-href="movies/genre/{{genre.id}}" ng-repeat="genre in showView.show.genres" style="display:inline-block; margin:0 5px 10px 0;">
            <h4 class="label label-primary" style="font-size: 100%;">{{genre.name}}</h4>
          </a>
          <hr style="margin: 10px 0;">
        </div>
      </div>

      <!-- torrents -->

      <!-- end -->



<!--       <div class="row">
        <div class="col-sm-12">
          <mdb-torrent-video source="'play-test/file.mp4'" type="video/mp4" poster="showView.show.backdrop_path"></mdb-torrent-video>
        </div>
      </div> -->

      <div style="bottom-margin:100px" class="md-button">
        <jk-rating-stars max-rating="10" rating="showView.show.vote_average" read-only="true">

          </jk-rating-stars>
          <md-tooltip>{{showView.show.vote_average}}/10 from {{showView.show.vote_count}} voters</md-tooltip>
      </div>

      <span>&nbsp;</span>

      <div class="row">
        <div class="col-md-8 col-xs-6 col-sm-7 col-xxs-12">
          <p ng-show="showView.show.tagline" class="text-upper text-bold text-xl">{{showView.show.tagline}}</p>
          <p ng-show="showView.show.overview" style="font-size: 1.1em;">{{showView.show.overview}}</p>
          <em ng-hide="showView.show.overview">No movie synopsis available</em>
        </div>
      </div>
      <div class="row" layout="column">
        <div>
          <hr>
          <div layout="row">
            <div class="col-xs-6 col-sm-3 col-md-4">
              <p class="text-upper">Directed by</p>
              <p ng-repeat="director in showView.show.directors">
                <a ng-href="person/{{director.id}}">{{director.name}}</a>
              </p>
              <p ng-hide="showView.show.directors.length" class="text-muted">Not available</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p class="text-upper">Written by</p>
              <p ng-repeat="writer in showView.show.writers">
                <a ng-href="person/{{writer.id}}">{{writer.name}} <em>({{writer.job}})</em></a>
              </p>
              <p ng-hide="showView.show.writers.length" class="text-muted">Not available</p>
            </div>
          </div>
        </div>
        <div layout="row">
          <md-button class=" md-icon-button md-accent"><md-icon>favorite_border</md-icon><md-tooltip>Add to favorites</md-tooltip></md-button>
          <md-button ng-hide="true" class="md-icon-button  md-accent"><md-icon>favorite</md-icon><md-tooltip>Remove form favorites</md-tooltip></md-button>
          <md-button ng-click="showView.watchTrailer = !showView.watchTrailer " ng-show="!showView.watchTrailer" class=" md-icon-button md-accent"><md-icon>play_arrow</md-icon><md-tooltip>Watch Trailer</md-tooltip></md-button>
        </div>
        <div ng-show="showView.watchTrailer" layout="row">
          <youtube-video video-id="showView.show.videos[0].key"></youtube-video>
          <md-button ng-click="showView.watchTrailer = !showView.watchTrailer" class=" md-icon-button md-accent"><md-icon>cancel</md-icon><md-tooltip>close</md-tooltip></md-button>
        </div>

        <div class="torrentsTime" >
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-12">
    <h2 class="page-header">Cast</h2>
  </div>
  <div class="row" >
    <div class="col-sm-4 col-xs-6 col-md-3" style="margin-bottom:30px;" ng-repeat="actor in showView.show.cast | limitTo : 8">
      <div class="media">
        <div class="pull-left">

            <!-- use `ng-if` here instead of `ng-show` to prevent a 404 where there is no profile_path - i.e. the src will be requested regardless of whether the img tag is hidden or not -->
            <img src="../assets/GIFS/kit-loading.gif" ng-click="showView.loadPersonView(actor.id)" ng-if="actor.profile_path" class="media-object" width="92" height="138" lazy-img="https://image.tmdb.org/t/p/w300/{{actor.profile_path}}" alt="{{actor.name}}">
            <img ng-click="showView.loadPersonView(actor.id)" ng-hide="actor.profile_path" width="92" height="138" src="../assets/GIFS/kit-loading.gif" ng-src="../assets/PNG/kit-no-img.png">

        </div>
        <div class="media-body">
          <a>
            <span ng-click="showView.loadPersonView(actor.id)" class="h4" style="margin:0 0 5px 0; word-break: break-word;">{{actor.name}}</span>
          </a>
          <br>
          <span ng-show="actor.character" class="small text-muted">{{actor.character}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
