<!--<div class="row">

  <div class="col s6 m4 l3" ng-repeat = "show in shows.popularTvShows">

           <img ng-click="shows.loadShowView(show.id)" ng-src="http://image.tmdb.org/t/p/w1920{{show.poster_path}}" class="responsive-img hoverable z-depth-4"/>
            <span>&nbsp;</span>

  </div>
</div> -->

<div ng-cloak>
  <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" style="background-color: #5b041c;">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon>local_movies</md-icon>
            </md-button>
            <h2>
                <span>Shows</span>
            </h2>
            <span flex></span>
            <div layout="column" flex="55">
                <span>&nbsp;</span>
                <md-input-container class="md-accent no-margin" flex="100">
                    <md-icon class="material-icons">&#xE8B6;</md-icon>
                    <label style="color:white">Search Shows</label>
                    <input style="color:white" ng-model="shows.searchInput" ng-change="shows.search(shows.searchInput)">
                </md-input-container>
            </div>
            <span flex="20">&nbsp;</span>
            <div layout="column">
                <span>&nbsp;</span>
                <md-menu>
      <md-button aria-label="Open Genre menu" class="md-icon-button" ng-click="shows.openMenu($mdOpenMenu, $event)">
        <md-icon>menu</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="genre in shows.genres">
          <md-button ng-click="shows.getShowsByGenre(genre.id)">
            {{genre.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
            </div>
        </div>
    </md-toolbar>
  <md-content layout-padding class="kit-list-content">
        <md-grid-list md-cols-gt-md="12" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <md-grid-tile dir-paginate="show in shows.showsToShow.results | itemsPerPage: 20" current-page="shows.showsToShow.page" total-items="shows.showsToShow.total_results" 
            md-colspan-xl="3" md-rowspan-xl="4" md-colspan-lg="3" md-rowspan-lg="4" md-colspan-md="2" md-rowspan-md="3" md-colspan-sm="1" md-rowspan-sm="2" md-colspan-xs="1"
                md-rowspan-xs="2">
                <img ng-click="shows.loadShowView(show.id)" ng-src="http://image.tmdb.org/t/p/w300{{show.poster_path}}" alt="{{show.name}}" layout-fill>
                <span>&nbsp;</span>
            </md-grid-tile>
        </md-grid-list>
        <div layout="row" layout-align="center center">
            <span flex="65">&nbsp;</span>
            <dir-pagination-controls auto-hide="false" layout-fill boundary-links="true" on-page-change="shows.loadPage(newPageNumber, oldPageNumber)" template-url="../bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </md-content>
</div>
