<div layout="column" layout-fill ng-cloak>
  <div >
      <img width="100%" height="600" src="../images/backgroundPic.jpg">
    </div>
    <div layout="row" layout-align="center start" class="login-header">
        <h3 style="color:white">Kickit Online</h3>
</div>
<div layout="row" layout-align="center start" class="login-form">
<md-card flex="35" layout-padding class="md-whiteframe-4dp">
<form name="logIn" ng-submit="signinCtrl.submitRegistration(registrationForm)" ng-init="signinCtrl.registrationForm = {}" novalidate>
  <md-card-content layout="column">
    <div layout="row">
         <md-button 
                 title="Launch Google.com in new window"
                 ng-click="signinCtrl.omniauthLogin('facebook')"
                 aria-label="login with facebook"
                 class="icon " >
        <img src="../images/facebook-icon.png" alt="facebook-icon" aria-label="facebook icon" layout-fill/>
        <md-tooltip>Facebook</md-tooltip>
      </md-button>
      <md-button 
                 title="Launch Google.com in new window"
                 ng-click="signinCtrl.omniauthLogin('twitter')"
                 aria-label="login with twitter"
                 class="icon" >
        <img src="../images/twitter-icon.png" alt="twitter-icon" aria-label="twitter icon" layout-fill/>
        <md-tooltip>Twitter</md-tooltip>
      </md-button>
      <md-button 
                 title="Launch Google.com in new window"
                 ng-click="signinCtrl.omniauthLogin('google')"
                 aria-label="login with google"
                 class="icon" >
        <img src="../images/google-mail-icon.png" alt="google-mail-icon" aria-label="google mail icon" layout-fill/>
        <md-tooltip>Google Mail</md-tooltip>
      </md-button>
      <md-button 
                 title="Launch Google.com in new window"
                 ng-click="signinCtrl.omniauthLogin('github')"
                 aria-label="login with github"
                 class="icon" >
        <img src="../images/github-icon.png" alt="github-icon" aria-label="github icon" layout-fill/>
        <md-tooltip>Github</md-tooltip>
      </md-button>
      </div>
  <md-input-container>
    <label for="email">Email</label>
    <input aria-label="email" type="email" name="email" ng-model="signinCtrl.registrationForm.email" required="required"/>
  </md-input-container>
  <md-input-container>
    <input aria-label="password" type="password" name="password" ng-model="signinCtrl.registrationForm.password" required="required"/>
    <label>Password</label>
  </md-input-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="center">
      <md-button type="submit" class="md-primary" aria-label="login">Login</md-button>
  </md-card-actions>
</form>
</md-card>
</div>
</div>